<!-- Sidebar -->
<div id="sidebar">

	<!-- Logo -->
		<div id="logo">
			<h2>椭圆的前端之路</h2>
		</div>			
	<!-- Nav -->
		<nav id="nav">
			<ul>
				<li class="current_page_item"><a href="#">最新文章</a></li>
				<li>
					<a id="list">文章分类</a>
                    <ul style="display:none;">
                    	<li class="current_list"><a href="frontend.html">前端技术</a></li>
                    	<li class="current_list"><a href="test.html">笔试面试</a></li>
                    	<li class="current_list"><a href="layout.html">网站布局</a></li>
                    </ul>

				</li>
				<li><a href="aboutme.html">关于作者</a></li>
			</ul>
		</nav>

	<!-- categories -->
		<section class="is-recent-comments">
			<header>
				<h2>标签</h2>
			</header>
			<ul>
				<li><a href="#">jQuery</a></li>
				<li><a href="#">HTML</a></li>
				<li><a href="#">CSS</a></li>
				<li><a href="#">javascript</a></li>
			</ul>
		</section>

	<!-- Copyright -->
		<div id="copyright">
			<p>
				&copy; 2013 An Untitled Site.<br />
				Images: <a href="http://n33.co">n33</a>, <a href="http://fotogrph.com">fotogrph</a>, <a href="http://iconify.it">Iconify.it</a>
				Design: <a href="http://html5up.net/">HTML5 UP</a>
			</p>
		</div>

</div>